<div class="page-header">
    <h3 class="page-title">
      Accordions
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
        <li class="breadcrumb-item active" aria-current="page">Accordions</li>
      </ol>
    </nav>
  </div>
  <div class="row">


    <div class="col-lg-6 grid-margin stretch-card">
        <div class="row">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Solid header accordion</h4>
              <!-- <p class="card-description">Use class <code>.accordion-solid-header</code> for basic accordion</p> -->
              <div class="mx-0"><!-- mt-4 -->
                <form [formGroup]="saleproductForm">
                    <div class="table-responsive">
                        <table class="table table-bordered mx-0 "><!-- table-striped -->
                                <thead>
                                  <tr>
                                    <th>
                                      #
                                    </th>                                
                                    <th>
                                      Product
                                    </th>
                                    <th>
                                      Quantiy
                                    </th>
                                    <!-- <th>
                                      Unit
                                    </th> -->
                                    <th>
                                      Price
                                    </th>
                                    <th>
                                      Subtotal
                                    </th>
                                    <th>
                                    
                                    </th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let product of saleproductForm.get('products').controls; index as i; trackBy: trackByFn">
                                  <tr class="" [formGroup]="product"><!-- styleTHead(i) -->
                                    <td>
                                      {{i}}
                                    </td>
                                    <td class="form-group" style="text-align: left; width: 5%;">
                                      {{product.name}}
                                      <label>mm
                                        <input type="hidden" class="form-control" formControlName="fname" 
                                        readOnly style="text-align: left; width: 100px;"/>
                                      </label>
                                    </td>
                                    <td class="form-group" style="text-align: left; width: 5%;">
                                    <!-- [(ngModel)]="saleproductList[i].quantiy" 
                                        #quantity='ngModel' (change)="valuechange($event, quantity, i)"  -->
                                      <!-- <div class="col-sm-12"> -->
                                        <input type="number" class="form-control btn-primary" name="quantity" formControlName="quantity"
                                        style="text-align: left; width: 100px;"/>
                                        <span class="text-danger" *ngIf="product.get('quantity').touched && 
                                        product.get('quantity').invalid">
                                          quantity is required
                                        </span>
                                      <!-- </div> -->
                                    </td>
                                    <!-- <td>
                                      Carton
                                    </td> -->
                                    <td class="form-group" style="text-align: left; width: 5%;">
                                      <input type="number" class="form-control btn-primary" name="price" formControlName="price"
                                        style="text-align: left; width: 100px;"/>
                                        <span class="text-danger" *ngIf="product.get('price').touched && 
                                        product.get('price').invalid">
                                        price is required
                                        </span>
                                        {{price(product['delivery_price'])}}
                                    </td>
                                    <td>
                                        {{ getAmount(product) }}
                                    </td>
                                    <td>
                                        <a class="nav-link" routerLink="delivery-settings" routerLinkActive="active" #register="routerLinkActive"> 
                                            <!-- <i class="mdi mdi-delete"></i> -->
                                            <i class="remove mdi mdi-close" (click)="removeTodoItem(product)"></i>
                                        </a> 
                                    </td>
                                  </tr>
                                </tbody>
                        </table>
                    </div>
                </form> 
                <button (click)="addProduct()" class="btn btn primary mr-5">
                  Add new product
                </button>              
                <br>
                <!-- panel for cart total -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-warning"><!-- panel-primary -->
                        <!-- <div class="panel-heading text-left">
                            CART TOTAL
                        </div> -->
                        <div class="row">
                            <div class="col"><hr></div>
                            <div class="col-auto">TOTAL Sale</div>    
                            <div class="col"><hr></div>    
                        </div>
                        
                        <div class="panel-body" >
                            <div class="row"> <!-- row for subtotal: 2 columns [subtotal, amount] -->
                                <!-- <div class="col-sm-3">                  
                                <p class="text-md-left"><strong>Items</strong></p>
                                </div>                
                                <div class="col-sm-3">
                                    <p class="text-md-left">5</p></div> --><!-- {{getSubTotalPrice()}} -->
                                <div class="col-sm-6">                  
                                    <p class="text-left"><strong>Subtotal</strong></p>
                                </div>                
                                <div class="col-sm-6">
                                    <p class="text-left"></p>
                                </div><!-- {{getSubTotalPrice()}} -->
                            </div>
                            <div class="row"> <!-- row for subtotal: 2 columns [discount, amount] -->
                                <div class="col-sm-6">                  
                                <p class="text-left"><strong>Discount</strong></p>
                                </div>                
                                <div class="col-sm-6">
                                    <p class="text-left"></p>
                                </div>
                                <div class="col-sm-6">                  
                                    <p class="text-left"><strong>Taxe(%)</strong></p>
                                </div>                
                                <div class="col-sm-6">
                                    <p class="text-left"></p>
                                </div>
                            </div>
                            
                            <!-- <hr class=""> -->
                            <div class="row "> <!-- row for total in the cart: 2 columns [total, amount--> <!-- another row may came before if coupon is applied -->
                                <div class="col-sm-6">
                                    
                                <p class="text-left"><strong>Total</strong></p>
                                </div>
                                <div class="col-sm-6">
                                <p class="text-left">9980CFA</p><!-- {{getTotalPriceWithDiscount()}} -->
                                </div>
                            </div>        
                        </div>
                                
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="container-fluid panel-warning"><!-- panel-primary -->
                            <!-- <div class="panel-heading text-left">
                                Payment
                            </div> -->
                            <div class="row">
                                <div class="col"><hr></div>
                                <div class="col-auto">Payment</div>    
                                <div class="col"><hr></div>    
                            </div>
                            
                            <div class="panel-body" >
                                <div class="row"> <!-- row for subtotal: 2 columns [subtotal, amount] -->
                                    <div class="col-sm-6">                  
                                    <span class="text-left small"><strong>Paid</strong></span>
                                    </div>                
                                    <div class="col-sm-6">
                                        <p class="text-left small"></p></div><!-- {{getSubTotalPrice()}} -->                                    
                                </div>
                                <div class="row"> <!-- row for subtotal: 2 columns [discount, amount] -->
                                    <div class="col-sm-6">                  
                                    <p class="text-left"><strong>Due</strong></p>
                                    </div>                
                                    <div class="col-sm-6">
                                        <p class="text-left"></p>
                                    </div>
                                </div>
                                
                                <div class="row"> <!-- row for total in the cart: 2 columns [total, amount--> <!-- another row may came before if coupon is applied -->
                                    <div class="col-sm-6">
                                        
                                    <p class="text-left"><strong>Balance</strong></p>
                                    </div>
                                    <div class="col-sm-6">
                                    <p class="text-left"></p><!-- {{getTotalPriceWithDiscount()}} -->
                                    </div>
                                </div>        
                            </div>
                                    
                            </div>
                            <!-- row for button Proceed to checkout --> 
                        <a [routerLink]="['/checkout']">
                            <div class="btn btn-primary btn-block btn-sm">Pay Now</div>
                        </a>
                    </div>
                </div>
                
            </div>        
            </div>
       
          </div>
        </div>
        
      
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Multi colored accordion</h4>
          <div class="row">
            <div class="col-md-4 mx-0" *ngFor="let product of productlist; index as i; trackBy: trackByFn">
                <blockquote class="blockquote blockquote-primary px-1 mx-0 py-0">
                    <img src="../../../assets/images/dashboard/img_2.jpg" class="mb-1 mw-100 w-100 rounded" alt="image">
                    <span class="small btn btn btn-sm text-left px-0" (click)="addArticleToList(product)">
                        <i class="mdi mdi-arrow-left-circle-outline"></i>
                        {{product.name}}</span>
                    <!-- <button type="button" class="btn btn-primary btn-sm" (click)="openModal(exampleModalContent)">
                        {{product.name}}
                        <i class="mdi mdi-arrow-left-circle-outline ml-1"></i>
                    </button> -->
                </blockquote>
                
            </div>
          </div>
                  
        </div>
      </div>
    </div>
  </div>